<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <div class="content is-size-3">
        <h3><%= @tweets.username %></h3>
      </div>
    </div>
    <%= render @tweets, show: true %>
  </div>
</div>